[user]
	name = Vitaly
	email = blackjack358@gmail.com
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
	quotepath = off
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
	commend = commit --amend --no-edit  # sticks all indexed files to latest commit
	please = push --force-with-lease    # check a local copy before rewrite
	stsh = stash --keep-index           # stash only unstaged changes to tracked files
	staash = stash --include-untracked  # stash any changes to tracked files
	staaash = stash --all               # stash ignored, untracked, and tracked files
[push]
	default = upstream
