[user]
	name = Vitaly
	email = blackjack358@gmail.com
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
	quotepath = off
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
	commend = commit --amend --no-edit
	please = push --force-with-lease
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
[push]
	default = upstream
